@media only screen and (min-width:200px){
  #our_team{
    font-size: 1rem;
  }
  #devname{
    font-size: 0.5rem;
    margin-bottom: 0.4rem;
    font-weight: 400;
  }
  #dev_designation{
    font-size: 0.5rem;
    margin-bottom: 0.4rem;
  }
  #aboutus_description{
    max-width: 7rem;
    line-height: 0.6rem;
    word-spacing: 0.3rem;
    font-size: 0.3rem;
    font-weight: 500;
  }
  #dev_image{
    max-width: 8rem;
    height: 8rem;
  }
}
@media only screen and (min-width:300px){
  #our_team{
    font-size: 1rem;
  }
  #devname{
    font-size: 0.5rem;
    margin-bottom: 0.4rem;
    font-weight: 400;
  }
  #dev_designation{
    font-size: 0.5rem;
    margin-bottom: 0.4rem;
  }
  #aboutus_description{
    max-width: 8rem;
    line-height: 0.6rem;
    word-spacing: 0.1rem;
    font-size: 0.4rem;
    font-weight: 500;
  }
  #dev_image{
    max-width: 10rem;
    height: 10rem;
  }
}

@media only screen and (min-width:400px){
    #our_team{
      font-size: 1.5rem;
    }
    #devname{
      font-size: 1rem;
      margin-bottom: 0.6rem;
      font-weight: 400;
    }
    #dev_designation{
      font-size: 0.6rem;
      margin-bottom: 1rem;
    }
    #aboutus_description{
      max-width: 20rem;
      font-size: 0.6rem;
      font-weight: 500;
      word-spacing: 0.2rem;
      line-height: 0.7rem;
    }
    #dev_image{
      max-width: 15rem;
      height: 15rem;
    }
  }

  @media only screen and (min-width: 610px){
    #our_team{
      font-size: 2rem;
      margin-bottom: 1rem
    }
    #devname{
      font-size: 1.4rem;
      margin-bottom: 1rem;
      font-weight: 400;
    }
    #dev_designation{
      font-size: 0.9rem;
      margin-bottom: 1rem;
    }
    #aboutus_description{
      font-size: 0.7rem;
      max-width: 16rem;
      word-spacing: 0.1rem;
      line-height:1.2rem;
    }
    #dev_image{
      max-width: 20rem;
      height: 20rem;
    }
  }

  @media only screen and (min-width: 752px){
    #our_team{
      font-size: 4rem;
      margin-bottom: 1rem
    }
    #devname{
      font-size: 2rem;
      margin-bottom: 2rem;
      font-weight: 400;
    }

    #dev_designation{
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }

    #aboutus_description{
      font-size: 1rem;
      max-width: 25rem;
      word-spacing: 0.2rem;
      line-height:2rem;
    }
    #dev_image{
      max-width: 20rem;
      height: 30rem;
    }
  }
  @media only screen and (min-width: 970px){

    #our_team{
      font-size: 4.7rem;
      margin-bottom: 1rem
    }
    #devname{
      font-size: 3.5rem;
      margin-bottom: 2rem;
      font-weight: 400;
    }
    #dev_designation{
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }
    #aboutus_description{
      max-width: 35rem;
      font-size: 1rem;
      word-spacing: 0.2rem;
      line-height:2.6rem;
    }
    #dev_image{
      max-width: 38rem;
      height: 30rem;
    }
  }

  @media only screen and (min-width: 1180px){

    #our_team{
      font-size: 4.7rem;
      margin-bottom: 1rem
    }
    #devname{
      font-size: 3.5rem;
      margin-bottom: 2rem;
      font-weight: 400;
    }
    #dev_designation{
      font-size: 2.3rem;
      margin-bottom: 1rem;
    }
    #aboutus_description{
      max-width: 30rem;
      font-size: 1rem;
      max-width: 40rem;
      word-spacing: 0.2rem;
      line-height:2rem;
    }
    #dev_image{
      max-width: 48rem;
      height: 40rem;
    }
  }