:root{
    --fs-xl : 5vw;
    --fs-600 : 2rem;
    --fs-650 : 2vw;
    --fs-500 : 1rem;
}


.flex{
    display: flex;
    align-items: center;
}

.absoluteCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.curPointer{
    cursor: pointer;
}

.maxWidth{
    max-width: 1600px;
    margin: auto;
}

.Head{
    background: linear-gradient(to right, #4C45B8 0%, #02AAC1 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color: #333333; */
    font-family: 'Archivo Black', sans-serif;
    font-size: var(--fs-xl);
    font-weight: bold;
}

.infoBoxHead{
    font-size: var(--fs-650);
    font-family: 'Archivo Black', sans-serif;
    font-weight: bold;
    color: #3565bb;
}

.socialIcons{
    font-size: 1.6rem;
    color: #333;
    margin-right: 0.5rem;
}

.socialIcons :hover{
    color: rgb(0, 0, 0);
}

.linkDecor{
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 768px) {
    .Head{
        text-align: center;
    }
}
