#background_vector{
    background-size: 50%;
}

#background_leaves{
    background-size: 100%;
}


#grid_images{
    background-size: 30%;
}

#background_artboard{
    background-size: 35%;
}
@media only screen and (max-width: 600px) {
    #background_vector{
        background-size: 100%;
    }
    #background_leaves{
        background-size: 35%;
    }
    #background_artboard{
        background-size: 70%;
    }
    #grid_images{
        background-size: 80%;
    }
}