.navContainer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    position: fixed;
    padding: 1rem;
    z-index: 20;
}

.featuredIcon{
    width: 20%;
}

.buttonContainer{
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foodifyIcon{
    width: 5rem;
}

.navButton{
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.navButton:hover{
    color: rgba(0, 0, 0, 0.8);
}
