.userPreviewContainer{
    width: 100%;
    height: 120vh;
    border: none;
    background: url('../assets/bgJelly.jpg') no-repeat 50% / cover;
}


.content{
    position: absolute;;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content>div{
    font-size: 6.5vw;
    font-family: 'Bodoni Moda', serif;
    font-weight: bold;
}

.content>p{
    font-size: 46px;
    color: #02315a;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 500;
}

@media only screen and (max-width:1120px){
    .content > P{
        font-size: 40px;
    }
}

@media only screen and (max-width:880px){
    .content > P{
        font-size: 35px;
    }
}

@media only screen and (max-width: 768px){
    .userPreviewContainer{
        background: url('../assets/bgJelly.jpg') no-repeat 80% / cover;
    }
    .content > div{
        font-size: 7vw;
    }
    .content > p{
        font-size: 4.5vw;;
    }
}

